//////////////////////////////////////////////////////////////////////////////
/// LOGIN PAGE STYLES
///   - GENERAL
///   - LOGIN
///
/// @author Adam Smith <imagineadamsmith@gmail.com> (https://github.com/imaginate)
/// @copyright 2022 Adam A Smith <imagineadamsmith@gmail.com> (https://github.com/imaginate)
//////////////////////////////////////////////////////////////////////////////

@import '../../scss/load';
@include base;
@include loading;
@include user-nav-bar;
@include log-buttons;

////////////////////////////////////////////////////////////
// GENERAL
////////////////////////////////////////////////////////////

h1.intro {
    display: block;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}

////////////////////////////////////////////////////////////
// BIKE
////////////////////////////////////////////////////////////

div.login {
    display: block;
    width: 96%;
    padding: 0 2% 20px;
    margin: 0;
}

div.logincell {
    display: block;
    width: 280px;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;

    input {
        display: block;
        width: 200px;
        padding: 1px 2px;
        line-height: 100%;
        margin: 0 auto;
        font-size: 1em;
        background: $white;
        border: 1px solid $black;
        @include border-radius(3px);
    }

    button {
        padding: 5px 10px;
        font-size: 1em;
        color: $white;
        background: $dark-green;
        border: 1px solid $black;
        @include border-radius(3px);
    }

    button:active {
        background: $green;
    }

    p {
        display: block;
        width: 200px;
        padding: 0;
        margin: 0 auto;
        text-align: left;

        span.label {
            font-weight: bold;
        }
    }

    p.success {
        padding: 10px 0 0;
        color: $dark-green;
    }

    p.failure {
        padding: 10px 0 0;
        color: $pink;
    }

    &.loginbtn p {
        text-align: center;
    }

    label {
        padding: 0 5px;
    }
}

@include min-screen-width(1200px) {
    div.login {
        width: 100%;
        padding: 0;
    }

    div.logincell {
        input, button, p {
            font-size: 1.12em;
        }
        
        button:hover, button:focus, button:active {
            background: $green;
        }
    }
}

// vim:ts=4:et:ai:cc=79:fen:fdm=marker:eol
