//////////////////////////////////////////////////////////////////////////////
/// MANAGE USERS PAGE STYLES
///   - GENERAL
///   - FILTERS
///   - USER LIST
///   - PAGE TABS
///
/// @author Adam Smith <imagineadamsmith@gmail.com> (https://github.com/imaginate)
/// @copyright 2022 Adam A Smith <imagineadamsmith@gmail.com> (https://github.com/imaginate)
//////////////////////////////////////////////////////////////////////////////

@import '../../../scss/load';
@include base;
@include loading;
@include manager-nav-bar;
@include log-buttons;

////////////////////////////////////////////////////////////
// GENERAL
////////////////////////////////////////////////////////////

h1.intro {
    display: block;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}

////////////////////////////////////////////////////////////
// FILTERS
////////////////////////////////////////////////////////////

div.filters {
    display: block;
    width: 96%;
    padding: 0 2%;
    margin: 0;
}

div.filter {
    display: block;
    width: 280px;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;

    label, input {
        display: block;
        margin: 0 auto;
    }
}

@include min-screen-width(1200px) {
    div.filters {
        width: 100%;
        padding: 0;
    }

    div.filter {
        width: 970px;
        padding: 10px 0;
        margin: 0 auto;

        label, input {
            display: inline-block;
            padding: 0px 5px;
            margin: 0;
        }
    }
}

////////////////////////////////////////////////////////////
// USER LIST
////////////////////////////////////////////////////////////

div.userlist {
    display: block;
    width: 96%;
    padding: 20px 2%;
    margin: 0;

    div.userrow {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

p.nousers {
    display: block;
    width: 280px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

div.user {
    display: block;
    width: 280px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;

    a.userlink {
        display: block;
        width: 100%;
        padding: 20px 0;
        margin: 0;
        text-decoration: none;
        text-align: center;
        color: $black;
        cursor: pointer;
        box-shadow: 0 0 5px 1px $light-grey;
        @include border-radius(5px);
    }

    a.userlink:hover, a.userlink:focus, a.userlink:active {
        text-decoration: none;
        color: $black;
    }

    a.userlink:active {
        box-shadow: 0 0 5px 1px $green;
    }

    div.usercell {
        display: block;
        padding: 5px 0 0 0;

        p {
            display: inline-block;
            padding: 0;
            margin: 0;
            text-align: center;
        }
    }

    div.usercell:nth-child(1) {
        padding: 0;
    }

}

@include min-screen-width(1200px) {
    div.userlist {
        width: 100%;
        padding: 30px 0;
        text-align: center;
    }

    p.nousers {
        padding: 10px 0;
        font-size: 1.12em;
    }

    div.user {
        display: table;
        width: 1070px;
        padding: 10px 0;
        margin: 0 auto;

        a.userlink {
            width: 1000px;
            padding: 25px 35px;
        }

        a.userlink:hover, a.userlink:focus, a.userlink:active {
            box-shadow: 0 0 5px 1px $green;
        }

        div.usercell {
            display: table-cell;
            padding: 0;
            text-align: left;
            vertical-align: middle;

            p {
                font-size: 1.12em;
            }
        }

        div.usercell:nth-child(1) {
            width: 100px;
            text-align: left;
        }

        div.usercell:nth-child(2) {
            width: 230px;
        }

        div.usercell:nth-child(3) {
            width: 230px;
        }

        div.usercell:nth-child(4) {
            width: 340px;
        }

        div.usercell:nth-child(5) {
            width: 90px;
            padding-right: 10px;
            text-align: right;
        }
    }
}

////////////////////////////////////////////////////////////
// PAGE TABS
////////////////////////////////////////////////////////////

div.tabbox {
    display: block;
    width: 100%;
    padding: 0 0 40px 0;
    margin: 0;
    text-align: center;
}

div.tabs {
    display: inline-block;
    width: 315px;
    height: 40px;
    text-align: center;
}

div.tab {
    display: inline-block;
    width: 31px;
    height: 38px;
    padding: 0 1px;
    margin: 0;

    button {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        line-height: 100%;
        font-size: 1em;
        color: $black;
        background: $white;
        cursor: pointer;
        border: 1px solid $dark-green;
        @include border-radius(3px);
    }

    button.active {
        color: $white;
        background: $green;
    }
}

@include min-screen-width(1200px) {
    div.tabbox {
        padding: 0 0 30px 0;
    }

    div.tab {
        button:hover, button:focus, button:active {
            color: $white;
            background: $green;
        }
    }
}

// vim:ts=4:et:ai:cc=79:fen:fdm=marker:eol
