//////////////////////////////////////////////////////////////////////////////
/// CONFIGURATIONS
///   - FONT
///   - COLOR
///
/// @author Adam Smith <imagineadamsmith@gmail.com> (https://github.com/imaginate)
/// @copyright 2022 Adam A Smith <imagineadamsmith@gmail.com> (https://github.com/imaginate)
//////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////
// FONT
////////////////////////////////////////////////////////////

$font-family: Montserrat, Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

////////////////////////////////////////////////////////////
// COLOR
////////////////////////////////////////////////////////////

$black: #00030e;
$white: #ffffff;
$grey: #7d8499;
$light-grey: #cccccc;
$pink: #d31882;
$very-light-green: #fafef5;
$green: #82d318;
$dark-green: #0ba012;
$red: #f03228;
$dark-red: #a0120b;
$dark-blue: #120ba0;
$purple: #a00b99;
