//////////////////////////////////////////////////////////////////////////////
/// MANAGER NAV BAR COMPONENT STYLES
///
/// @author Adam Smith <imagineadamsmith@gmail.com> (https://github.com/imaginate)
/// @copyright 2022 Adam A Smith <imagineadamsmith@gmail.com> (https://github.com/imaginate)
//////////////////////////////////////////////////////////////////////////////

@mixin manager-nav-bar() {
    nav.topnav {
        display: table;
        width: 300px;
        padding: 0 0 10px;
        margin: 0 auto;
        text-align: center;
    }

    a.topnav {
        display: table-cell;
        width: 98px;
        padding: 5px 0;
        margin: 0;
        font-size: 1em;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        color: $white;
        background: $dark-green;
        border: 1px solid $white;
    }

    @include min-screen-width(1200px) {
        nav.topnav {
            width: 456px;
        }

        a.topnav {
            width: 150px;
            font-size: 1.12em;
        }

        a.topnav:hover, a.topnav:focus, a.topnav:active {
            background: $green;
        }
    }
}

// vim:ts=4:et:ai:cc=79:fen:fdm=marker:eol
